.content-wrap,
.sidebar,
.header-inner,
.btn {
  background: rgba(255,255,255,0.6);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}
.sidebar-inner,
.btn {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}
